<div class="main">
    <nav>
        <p>
            <mat-toolbar color="accent">
              <span id="name">PRACTICUM</span>
              <span class="example-spacer"></span>
               <button mat-icon-button routerLink="/form">
                Register
              </button>
              <button mat-icon-button routerLink="/information">
                Information
              </button>
         
            </mat-toolbar>
          </p>
    </nav>
    <router-outlet></router-outlet>
</div>
